# Python Basics: Control Flows, Functions, and Classes

This Jupyter notebook covers the basics of Python, particularly, control flows (i.e., for loop, while loop, and if statement), functions, and classes.

## Recall our memory

- Data types
    - String: str()
        - 'Hello world'
    - Integer: int()
        - 1, 2, 3...
    - Floating-point number: float()
        - 3.141592...
    - Boolean: bool() 
        - True or False
    <br><br>
- Data container
    - List: list()
        - [variable1, variable2, variable3...]
    - Tuple: tuple()
        - (variable1, variable2, variable3...)
    - Dictionary: dict()
        - {key1: value1, key2: value2, key3: value3 ...}

## 1. Control Flows

- Loops
    - For loop (or for statement)
    - While loop (or while statement)

- Conditional (i.e., if statement)

### 1.1. For loop

Loops are one of the fundamental structures in programming. Loops allow you to iterate over each element in a sequence, one at a time, and do something with those elements.

*Loop syntax*: Loops have a very particular syntax in Python; this syntax is one of the most notable features to Python newcomers. The format looks like

```python
    for *element* in *sequence*:                # NOTE the colon at the end
        <some code that uses the *element*>     # the block of code that is looped over for each element
        <more code that uses the *element*>     # is indented four spaces (yes four! yes spaces!)
    
    <the code after the loop continues>         # the end of the loop is marked simply by unindented code
```
Thus, INDENTATION IS SIGNIFICNAT TO THE CODE. This was done because good coding practice (in almost all languages, C, FORTRAN, MATLAB) typically indents loops, functions, etc. Having indentation be significant saves the end of loop syntax for more compact code.

*Some important notes on indentation*  Indentation in python is typically *4 spaces*. Most programming text editors will be smart about indentation, and will also convert TABs to four spaces. Jupyter notebooks are smart about indentation, and will do the right thing, i.e., autoindent a line below a line with a trailing colon, and convert TABs to spaces. If you are in another editor remember: ___TABS AND SPACES DO NOT MIX___. See [PEP-8](https://www.python.org/dev/peps/pep-0008/) for more information on the correct formatting of Python code.

In [4]:
# A simple example is to find the sum of the sequence 0 through 10,
sum_result = 0

for n in range(11):
    sum_result += n
    print(f'sum result from 0 to {n}: {sum_result}')
    
print(sum_result)

sum result from 0 to 0: 0
sum result from 0 to 1: 1
sum result from 0 to 2: 3
sum result from 0 to 3: 6
sum result from 0 to 4: 10
sum result from 0 to 5: 15
sum result from 0 to 6: 21
sum result from 0 to 7: 28
sum result from 0 to 8: 36
sum result from 0 to 9: 45
sum result from 0 to 10: 55
55

In [5]:
names = ['Patrick', 'Chris', 'Daniel']
for name in names:
    print(f'Welcome to the programming class, {name}!')

Welcome to the programming class, Patrick!
Welcome to the programming class, Chris!
Welcome to the programming class, Daniel!

In [6]:
# This for loop will spit out every alphabet in the string. 
for s in 'Patrick':
    print(s)

P
a
t
r
i
c
k

Sometimes you want to iterate over a sequence but you *also* want the indices of those elements. One way to do that is the `enumerate` function:
```python
    enumerate(<sequence>)
```
This returns a sequence of two element tuples, the first element in each tuple is the index, the second the element. It is commonly used in `for` loops, like

In [7]:
# If you want to get index and value over a for loop
for idx, name in enumerate(names):
    print(f'Welcome {name}, your seat is {idx}')

Welcome Patrick, your seat is 0
Welcome Chris, your seat is 1
Welcome Daniel, your seat is 2

---
### *Exercise*

1. Create a for loop to add every EVEN number from 1 to 100. 
2. In the meantime, calculate how many loops has interated (Note, try `enumerate()`).

---

In [8]:
# Your code here
sum_result = 0
for idx, n in enumerate(range(2, 102, 2)):
    sum_result += n
print(idx, sum_result)

49 2550

### 1.2. While loops

The majority of loops that you will write will be `for` loops. These are loops that have a defined number of iterations, over a specified sequence. However, there may be times when it is not clear when the loop should terminate. In this case, you use a `while` loop. This has the syntax

```python
    while <condition> is True:
        <code>
```
`condition` should be something that can be evaluated when the loop is started, and the variables that determine the conditional should be modified in the loop.

This kind of loop should be use carefully â€” it is relatively easy to accidentally create an infinite loop, where the condition never is triggered to stop so the loop continues forever. This is especially important to avoid given that we are using shared resources in our class and a `while` loop that never ends can cause the computer the crash.

In [9]:
n = 5         # starting value
while n > 0:
    n -= 1    # subtract 1 each loop
    print(n)  # look at value of n

4
3
2
1
0

---
### *Exercise*

1. Calculate how many sequential integer should be added to exceed 100,000 (i.e., from 1 to ?). 

---

In [10]:
# Your code here
sum_result = 0
i = 0
while sum_result < 100000:
    i += 1
    sum_result += i
    print(i, sum_result)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
101 5151
102 5253
103 5356
104 5460
105 5565
106 5671
107 5778
108 5886
109 5995
110 6105
111 6216
112 6328
113 6441
114 6555
115 6670
116 6786
117 6903
118 7021
119 7140
120 7260
121 7381
122 7503
123 7626
124 7750
125 7875
126 8001
127 8128
128 8256
129 8385
130 8515
131 8646
132 8778
133 8911
134 9045
135 9180
136 9316
137 9453
138 9591
139 9730
140 9870
141 10011
142 10153
143 10296
144 10440
145 10585
146 10731
147 10878
148 11026
149 11175
150 11325
151 11476
152 11628
153 11781
154 11935
155 12090
156 12246
157 12403
158 12561
159 12720
160 12880
161 13041
162 13203
163 13366
164 13530
165 13695
166 13861
167 14028
168 14196
169 14365
170 14535
171 14706
172 14878
173 15051
174 15225
175 15400
176 15576
177 15753
178 15931
179 16110
180 16290
181 16471
182 16653
183 16836
184 17020
185 17205
186 17391
187 17578
188 17766
189 17955
190 18145
191 18336
192 18528
193 18721
194 18915
195 19110
196 19306
197 19503
198 19701
199 19900
200 20100
201 20301
202 20503
203 20706
204 20910
205 21115
206 21321
207 21528
208 21736
209 21945
210 22155
211 22366
212 22578
213 22791
214 23005
215 23220
216 23436
217 23653
218 23871
219 24090
220 24310
221 24531
222 24753
223 24976
224 25200
225 25425
226 25651
227 25878
228 26106
229 26335
230 26565
231 26796
232 27028
233 27261
234 27495
235 27730
236 27966
237 28203
238 28441
239 28680
240 28920
241 29161
242 29403
243 29646
244 29890
245 30135
246 30381
247 30628
248 30876
249 31125
250 31375
251 31626
252 31878
253 32131
254 32385
255 32640
256 32896
257 33153
258 33411
259 33670
260 33930
261 34191
262 34453
263 34716
264 34980
265 35245
266 35511
267 35778
268 36046
269 36315
270 36585
271 36856
272 37128
273 37401
274 37675
275 37950
276 38226
277 38503
278 38781
279 39060
280 39340
281 39621
282 39903
283 40186
284 40470
285 40755
286 41041
287 41328
288 41616
289 41905
290 42195
291 42486
292 42778
293 43071
294 43365
295 43660
296 43956
297 44253
298 44551
299 44850
300 45150
301 45451
302 45753
303 46056
304 46360
305 46665
306 46971
307 47278
308 47586
309 47895
310 48205
311 48516
312 48828
313 49141
314 49455
315 49770
316 50086
317 50403
318 50721
319 51040
320 51360
321 51681
322 52003
323 52326
324 52650
325 52975
326 53301
327 53628
328 53956
329 54285
330 54615
331 54946
332 55278
333 55611
334 55945
335 56280
336 56616
337 56953
338 57291
339 57630
340 57970
341 58311
342 58653
343 58996
344 59340
345 59685
346 60031
347 60378
348 60726
349 61075
350 61425
351 61776
352 62128
353 62481
354 62835
355 63190
356 63546
357 63903
358 64261
359 64620
360 64980
361 65341
362 65703
363 66066
364 66430
365 66795
366 67161
367 67528
368 67896
369 68265
370 68635
371 69006
372 69378
373 69751
374 70125
375 70500
376 70876
377 71253
378 71631
379 72010
380 72390
381 72771
382 73153
383 73536
384 73920
385 74305
386 74691
387 75078
388 75466
389 75855
390 76245
391 76636
392 77028
393 77421
394 77815
395 78210
396 78606
397 79003
398 79401
399 79800
400 80200
401 80601
402 81003
403 81406
404 81810
405 82215
406 82621
407 83028
408 83436
409 83845
410 84255
411 84666
412 85078
413 85491
414 85905
415 86320
416 86736
417 87153
418 87571
419 87990
420 88410
421 88831
422 89253
423 89676
424 90100
425 90525
426 90951
427 91378
428 91806
429 92235
430 92665
431 93096
432 93528
433 93961
434 94395
435 94830
436 95266
437 95703
438 96141
439 96580
440 97020
441 97461
442 97903
443 98346
444 98790
445 99235
446 99681
447 100128

### 1.3. If statement
Conditionals have a similar syntax to `for` statements. Generally, conditionals look like
```python
    if <test>:
        <Code run if...>
        <...test is valid>
```
or
```python
    if <first test>:
        <Code run if...>
        <...the first test is valid>
    elif <second test>:
        <Code run if...>
        <...the second test is valid>
    else:
        <Code run if...>
        <...neither test is valid>
```

In both cases the test statements are code segments that return a boolean value, often a test for equality or inequality. The `elif` and `else` statements are always optional; both, either, or none can be included.

In [11]:
x = 25
    
if x < 20: 
    print('x is less than 20')
elif x == 20:
    print('x is equal to 20')
else:
    print('x is more than 20')

x is more than 20

In [12]:
# Example of nested if statements
# 'string'.isalpha() will determine whether the string is alphabet.
sentence = 'I would like to sort this sentence into vowels, consonants, and special characters!@#$'

consonants = []  # list for consonants
vowels = []      # list for vowels
extra = []       # list for special characters 

for char in sentence:
    print(f'Character in the loop is {char}')
    if char.isalpha():
        if char.lower() in ['a', 'e', 'i', 'o', 'u']:
            consonants.append(char.lower())
        else:
            vowels.append(char.lower())
            
    else:
        if char == ' ':
            pass
        else:
            extra.append(char.lower())

print(set(consonants))
print(set(vowels))
print(set(extra))

Character in the loop is I
Character in the loop is
Character in the loop is w
Character in the loop is o
Character in the loop is u
Character in the loop is l
Character in the loop is d
Character in the loop is
Character in the loop is l
Character in the loop is i
Character in the loop is k
Character in the loop is e
Character in the loop is
Character in the loop is t
Character in the loop is o
Character in the loop is
Character in the loop is s
Character in the loop is o
Character in the loop is r
Character in the loop is t
Character in the loop is
Character in the loop is t
Character in the loop is h
Character in the loop is i
Character in the loop is s
Character in the loop is
Character in the loop is s
Character in the loop is e
Character in the loop is n
Character in the loop is t
Character in the loop is e
Character in the loop is n
Character in the loop is c
Character in the loop is e
Character in the loop is
Character in the loop is i
Character in the loop is n
Character in the loop is t
Character in the loop is o
Character in the loop is
Character in the loop is v
Character in the loop is o
Character in the loop is w
Character in the loop is e
Character in the loop is l
Character in the loop is s
Character in the loop is ,
Character in the loop is
Character in the loop is c
Character in the loop is o
Character in the loop is n
Character in the loop is s
Character in the loop is o
Character in the loop is n
Character in the loop is a
Character in the loop is n
Character in the loop is t
Character in the loop is s
Character in the loop is ,
Character in the loop is
Character in the loop is a
Character in the loop is n
Character in the loop is d
Character in the loop is
Character in the loop is s
Character in the loop is p
Character in the loop is e
Character in the loop is c
Character in the loop is i
Character in the loop is a
Character in the loop is l
Character in the loop is
Character in the loop is c
Character in the loop is h
Character in the loop is a
Character in the loop is r
Character in the loop is a
Character in the loop is c
Character in the loop is t
Character in the loop is e
Character in the loop is r
Character in the loop is s
Character in the loop is !
Character in the loop is @
Character in the loop is #
Character in the loop is $
{'o', 'i', 'a', 'e', 'u'}
{'h', 'k', 'c', 's', 'p', 'v', 't', 'n', 'l', 'r', 'w', 'd'}
{'@', '#', '$', '!', ','}

---
### *Exercise*

1. Find the lowest number that can be divided into 2, 3, 5, and 7 without any remainder (Not 0). <br>
Hint: three digits
2. Create three lists (`list_2`, `list_3`, `list_extra`). Within the range from 1 to 10, two lists (`list_2` and `list_3`) contain the numbers can be divided by 2 and 3 without remainder, respectively. The other list (`list_extra`) has the numbers that CANNOT be divided by 2 and 3 without remainder. 

---

In [13]:
# Your code here
for i in range(1000):
    if (i % 2 == 0) and (i % 3 == 0) and (i % 5 == 0) and (i % 7 == 0):
        print(i)

0
210
420
630
840

In [14]:
# Your code here
list_2 = []
list_3 = []
list_extra = []

for i in range(1, 10):
    if (i % 2 == 0) & (i % 3 != 0) :
        list_2.append(i)
    elif (i % 2 != 0) & (i % 3 == 0):
        list_3.append(i)
    elif (i % 2 == 0) & (i % 3 == 0):
        list_2.append(i)
        list_3.append(i)
    else:
        list_extra.append(i)
        
print(list_2)
print(list_3)
print(list_extra)

[2, 4, 6, 8]
[3, 6, 9]
[1, 5, 7]

In [15]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert list_2 == [2, 4, 6, 8]
assert list_3 == [3, 6, 9]
assert list_extra == [1, 5, 7]

print("Success!")

Success!

### 1.4. Other control flows: Break, Pass, Continue

In [16]:
# Example of break
number = 0

for number in range(10):
#     if number > 5:
#         break    # break here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [17]:
# Example of continue
number = 0

for number in range(10):
    if number == 5:
        continue    # continue here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [18]:
# Example of pass
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

### 1.5. List comprehension

There is a short way to make a list from a simple rule by using list comprehensions. The syntax is like
```python
    [<element(item)> for item in sequence]
    [<element(item)> for item in sequence if <condition>]
    [<element(item)> if <condition> else <action> for item in sequence]
    
```

In [19]:
list_a = list(range(1, 21))
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
# This for loop can be simplifed as a one line as follows. 
list_b = [] # Verbose version
for x in list_a:
    
    if x < 10:
        list_b.append(x**2)
print(list_b)

print([x**2 for x in list_a if x < 10]) # Simple vesion

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
# This for loop can be simplifed as a one line as follows. 
list_c = [] # Verbose version
for x in list_a:
    
    if x < 10:
        list_c.append(x**2)
    else:
        list_c.append(x)
        
print(list_c)

[x**2 if x < 10 else x for x in list_a] # Simple version

[1, 4, 9, 16, 25, 36, 49, 64, 81, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

---
### *Exercise*
From a random list
```python
    random_list = [1, 2, 'three', 4.0, ['five',]]
```

1. Modify the previous list comprehension to test if the elements are integers. <br>
   Save the result as `result1`.
```python
    # Verbose version
    return_list = []
    for x in random_list:
        if type(x) is int:
            return_list.append(True)
        else:
            return_list.append(False)
        
    print(return_list)
```
2. Create a list that only returns integer. <br>
   Save the result as `result2`.
```python
    # Verbose version
    return_list = []
    for x in random_list:
        if type(x) is int:
            return_list.append(x)
        else:
            continue # or pass

    print(return_list)
```
---

In [22]:
# Your code here
random_list = [1, 2, 'three', 4.0, ['five',]]

# Answer 1
result1 = [True if type(x) is int else False for x in random_list]

# Answer 2
result2 = [x for x in random_list if type(x) is int]

In [23]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert result1 == [True, True, False, False, False]
assert result2 == [1, 2]

print("Success!")

Success!

# 2. Functions

Functions are ways to create reusable blocks of code that can be run with different variable values â€“ the input variables to the function. Functions are defined using the syntax

```python
    def <function name> (var1, var2, ...):
        <block of code...>
        <...defining the function>
        return <return variable(s)>
```
Functions can be defined at any point in the code, and called at any subsequent point.

In [24]:
def addfive(x):
    '''Return the argument plus five
    
    Input : x
            A number
    
    Output: foo
            The number x plus five
    
    '''
    return x+5

addfive(3)

8

In [25]:
def calculate_circle(r):
    '''Return the perimeter and area of a circle with the argument
    
    Input : r
            A number
    
    Output: (C, A)
            C: perimeter of a circle with radius r
            A: area of a circle with radius r
    
    '''
    pi = 3.141592
    C = 2 * pi * r
    A = pi * r ** 2
    
    return C, A

calculate_circle(5)

(31.41592, 78.5398)

In [26]:
def factorial(n, print_it=False):
    answer = 1
    for i in range(1, n +1):
        answer = answer * i
        
    if print_it:
        print(f'{n}! = {answer}')
        
    return answer

print(factorial(5))
print('------')
factorial(5, True)
print('------')
factorial(5, print_it=True)

120
------
5! = 120
------
5! = 120

120

<b>Docstrings</b>

You can add 'help' text to functions (and classes) by adding a 'docstring', which is just a regular string, right below the definition of the function. This should be considered a mandatory step in your code writing.

In [27]:
addfive?

In [28]:
calculate_circle?

In [29]:
factorial?

---
### *Exercise*

1. Write a function that takes in a list of numbers and returns two lists of numbers: the odd numbers in the list and the even numbers in the list. That is, if your function is called `odds_evens()`, it should work as follows: <br>

```python
    odds, evens = odds_evens([1,5,2,8,3,4])
    print(odds, evens)
    ([1, 5, 3], [2, 8, 4])
```
    
Note that `x % y` gives the remainder of `x/y`.

2. Modify the function that it can filter strings. <b>If the input has strings, the results should not include them, but the function should NOT have any error.</b>
---

In [30]:
# Your code here
def odds_evens(temp_list):
    odds = []
    evens = []
    
    for val in temp_list:
        if val % 2 == 1:
            odds.append(val)
        else:
            evens.append(val)
        
    return odds, evens

odds_evens([1,5,2,8,3,4])

([1, 5, 3], [2, 8, 4])

In [31]:
def odds_evens(temp_list):
    odds = []
    evens = []
       
    for val in temp_list:
        if type(val) != int and type(val) != float:
            continue
        else:
            if val % 2 == 1:
                odds.append(val)
            else:
                evens.append(val)

    return odds, evens

odds_evens(['string', 1,5,2,8,3,4])

([1, 5, 3], [2, 8, 4])

## 3. Classes

*We won't cover classes in this class, but these notes are here for your reference in case you are interested.*

Classes are used to define generic objects. The 'instances' of the class are supplied with specific data. Classes define a data structure, 'methods' to work with this data, and 'attributes' that define the data.

###### The computer science way to think of classes

Think of the class as a sentence. The nouns would be the classes, the associated verbs class methods, and associated adjectives class attributes. For example take the sentence

> The white car signals and makes a left turn.

In this case the object is a `car`, a generic kind of vehicle. We see in the sentence that we have a particular instance of a `car`, a *white* `car`. Obviously, there can be many instances of the class `car`. White is a defining or distinguishing 'attribute' of the car. There are two 'methods' noted: signaling and turning. We might write the code for a `car` object like this:

```python
    class Car(object):
        
        def __init__(self, color):
            self.color = color

        def signal(self, direction):
            <signalling code>

        def turn(self, direction):
            <turning code>
```

In [32]:
class Car(object):

    def __init__(self, color, maker, model):
        self.color = color
        self.maker = maker
        self.model = model

    def signal(self, direction):
        print(f'My {self.model} is blinking {direction} turn signal.')

    def turn(self, direction):
        print(f'My {self.model} is turing {direction}.')

In [33]:
mycar = Car('White', 'Toyota', 'Sienna')
print(mycar.color)
print(mycar.maker)
print(mycar.model)
mycar.signal('left')
mycar.turn('left')

White
Toyota
Sienna
My Sienna is blinking left turn signal.
My Sienna is turing left.

In [34]:
mycar2 = Car('Black', 'Chevrolet', 'Colorado')
print(mycar2.color)
print(mycar2.maker)
print(mycar2.model)
mycar2.signal('right')
mycar2.turn('right')

Black
Chevrolet
Colorado
My Colorado is blinking right turn signal.
My Colorado is turing right.

---
### *Exercise*

1. Create an instance of the Car class with the attributes of your vehicle. 
2. Add attribute `year` to the Car class and update your car instance.

---

In [35]:
# Your code here
class Car_new(object):

    def __init__(self, color, maker, model, year):
        self.color = color
        self.maker = maker
        self.model = model
        self.year = year

    def signal(self, direction):
        print(f'My {self.model} is blinking {direction} turn signal.')

    def turn(self, direction):
        print(f'My {self.model} is turing {direction}.')



mycar3 = Car_new('White', 'Toyota', 'Rav4', 2017)
print(mycar3.color)
print(mycar3.maker)
print(mycar3.model)
print(mycar3.year)

White
Toyota
Rav4
2017